tensorflow_probability==0.7.0
tensorboard==1.15.0
tensorflow-estimator==1.15.1
tensorflow-probability==0.7.0
nvidia-cublas==11.5.1.101
nvidia-cublas-cu114==11.6.5.2
nvidia-cuda-cupti-cu114==11.4.120
nvidia-cuda-nvcc-cu114==11.4.120
nvidia-cuda-nvrtc==11.3.58
nvidia-cuda-runtime==11.3.58
nvidia-cuda-runtime-cu114==11.4.108
nvidia-cudnn==8.2.0.51
nvidia-cudnn-cu114==8.2.4.15
nvidia-cufft-cu114==10.5.2.100
nvidia-curand-cu114==10.2.5.120
nvidia-cusolver-cu114==11.2.0.120
nvidia-cusparse-cu114==11.6.0.120
nvidia-dali-cuda110==1.6.0
nvidia-dali-nvtf-plugin==1.6.0+nv21.10
nvidia-nccl-cu114==2.11.4
nvidia-pyindex==1.0.9
nvidia-tensorflow==1.15.5+nv21.10
nvidia-tensorrt==8.0.3.4